body {
    background-color: #2faee9;
    padding-bottom: 100px;
    font-family: 'Roboto', sans-serif;
}

/* Main container */
.container {
    max-width: 650px;
    margin: auto;
}

/* Header Bar */
.header-bar {
    padding: 20px;
    color: #fff;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,29,110,1) 0%, rgba(0,212,255,1) 100%);
}

.header-bar a {
    color: #fff;
    text-decoration: none;
}

/* Input areas */
input[type=text],
input[type=password],
textarea {
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}

label {
    padding-top: 10px !important;
    display: block;
}

.card {
    padding: 50px;
}

hr {
    width: 90%;
}