<h1>Todo List</h1>

<a href="{% url 'create' %}">New Task</a>
<!-- Table to render out todo list tasks -->
<table>
    <thead>
        <tr>
            <th>Task</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.created }}</td>
            <td><a href="{% url 'detail' task.pk %}">Detail</a></td>
            <td><a href="{% url 'update' task.pk %}">Update</a></td>
            <td><a href="{% url 'delete' task.pk %}">Delete</a></td>
        </tr>
        {% empty %}
            <h3>No Tasks on the list</h3>
        {% endfor %}
    </tbody>
</table>